# coding app's project files
.idea
.vscode
.DS_Store
.claude/settings.local.json

.playwright-mcp


# Go testing output
*.out
*.test
profile*.pdf


# binary exes
cmd/*/*.exe
cmd/main_yugioh_card_editor/main_yugioh_card_editor
.~lock.*


# config with real username, password...
config/*ignore*.sh
config/.env*


# crawler Konami database result, need to rename before add to git
web/konami_db.json
web/konami_data/konami_db.json
web/konami_data/konami_db.json.backup
internal/core/schema_test.csv
